body{
    background-color: wheat;
}

#heading1 {
  padding-top: 5vh;
  text-align: center;
}

#url{
    margin-top: 2vh;
    margin-left: 30vw;
    width: 40%;
}

#results{
  padding-top: 2vh 2vw;
}


.resultsPrimary{
  padding-top: 15vh;
  text-align: center;
  
}
